<section class="block container">
  <header class="block__header">
    <h2>Host on the Cloud to Keep Growing</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis,
      distinctio.
    </p>
  </header>
  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="icon/sprite.svg#easy"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Super easy to use</h3>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero,
        perspiciatis!
      </p>
      <a class="link-arrow" href="#">Learn more</a>
    </div>
    <picture><img class="feature__image" src="icon/easy.jpg" alt="" /></picture>
  </article>
</section>
<section class="block container">
  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="icon/sprite.svg#settings"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Wordpress made easy</h3>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero,
        perspiciatis!
      </p>
      <a class="link-arrow" href="#">Learn more</a>
    </div>
    <picture
      ><img class="feature__image" src="icon/wordpress.jpg" alt=""
    /></picture>
  </article>
</section>
